@media screen and (min-width:577px) and (max-width: 992px) {
    .logo-img {
        width: 6vw;
        height: 3vw;
        margin-right: 20px;
    }

    .logo-text {
        text-align: center;
        font-size: 3vw;
        font-weight: 700;
    }

    .li-text {
        text-align: center;
        font-size: 1.5vw;
        font-weight: 600;
        margin-right: 1.2vw;
        margin-left: 1.2vw;
    }
    .ban-li {
        color: #534C64;
        font-size: 1.5vw;
        font-weight: 500;
        margin-bottom: 10px;
        text-align: left;
    }
    .ban-2-text {
        color: #534C64;
        font-size: 1.5vw;
        font-weight: 400;
        line-height: 2.5vw;
        margin-bottom: 1.6vw;
    }
    .fa-solid,
    .fa-regular {
        font-size: 15px;
    }

    .vid-text-main {
        color: #534C64;
        text-align: center;
        font-size: 1.5vw;
        font-weight: 400;
    }
    .vid-title {
    color: #0B0223;
    font-size: 4vw;
    font-weight: 700;
    text-align: center;
    margin-bottom: .8vw;
    }

        .vid-block {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 2.4vw 0 6vw 20vw;
            gap: 1.2vw 0;
        }
        .vid-block-info {
            width: 30vw;
        }
        
                .vid-overlay {
                    margin-top: 10px;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    width: 100%;
                    height: 30vw;
                    background-color: rgba(0, 0, 0, 0.6);
                    color: #FF42A5;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    opacity: 0;
                    transition: opacity 0.25s;
                    border-radius: 0.8vw;
                } 
                .vid-img {
                    width: 100%;
                    height: 30vw;
                    border-radius: 0.8vw;
                    margin-bottom: 1.2vw;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
    
        .games-cont {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items:center;
            justify-content: center;
            margin: 0 10vw 0;
            margin-bottom: 6vw;
        }
        .games-cont p{
            text-align: left;
        }
                .games-img {
                    width: 3vw;
                    height: 3vw;
                    margin-right: 10px;
                }
                .games-block {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    padding: 1vw 2vw 1vw 1vw;
                    border-radius: 2.6vw;
                }
}